parameters:
	ignoreErrors:
		-
			message: "#^Method PHPUnitRetry\\\\Tests\\\\RetryAnnotationTraitTest\\:\\:parseRetryAttemptsAnnotation\\(\\) has parameter \\$retries with no type specified\\.$#"
			count: 1
			path: tests/RetryAnnotationTraitTest.php

		-
			message: "#^Method PHPUnitRetry\\\\Tests\\\\RetryAnnotationTraitTest\\:\\:parseRetryDelaySecondsAnnotation\\(\\) has parameter \\$retryDelaySeconds with no type specified\\.$#"
			count: 1
			path: tests/RetryAnnotationTraitTest.php

		-
			message: "#^Method PHPUnitRetry\\\\Tests\\\\RetryAnnotationTraitTest\\:\\:parseRetryForSecondsAnnotation\\(\\) has parameter \\$retryForSeconds with no type specified\\.$#"
			count: 1
			path: tests/RetryAnnotationTraitTest.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 3
			path: tests/RetryAnnotationTraitTest.php

		-
			message: "#^Method PHPUnitRetry\\\\Tests\\\\RetryTraitTest\\:\\:parseRetryAttemptsAnnotation\\(\\) has parameter \\$retries with no type specified\\.$#"
			count: 1
			path: tests/RetryTraitTest.php

		-
			message: "#^Method PHPUnitRetry\\\\Tests\\\\RetryTraitTest\\:\\:parseRetryDelaySecondsAnnotation\\(\\) has parameter \\$retryDelaySeconds with no type specified\\.$#"
			count: 1
			path: tests/RetryTraitTest.php

		-
			message: "#^Method PHPUnitRetry\\\\Tests\\\\RetryTraitTest\\:\\:parseRetryForSecondsAnnotation\\(\\) has parameter \\$retryForSeconds with no type specified\\.$#"
			count: 1
			path: tests/RetryTraitTest.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 3
			path: tests/RetryTraitTest.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func_array expects callable\\(\\)\\: mixed, array\\{\\$this\\(PHPUnitRetry\\\\Tests\\\\RetryTraitTest\\), mixed\\} given\\.$#"
			count: 2
			path: tests/RetryTraitTest.php

