parameters:
    tmpDir: cache/.phpstan
    parallel:
        processTimeout: 300.0
    checkMissingIterableValueType: false
    excludePaths:
        - vendor
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
