name: Build

on:
  push:
    branches:
      - master
  pull_request:
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions:
          - '7.4'
          - '8.0'
          - '8.1'
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
      -
        name: Install dependencies
        run: composer install ${{ matrix.composer-options }}
      -
        name: Tests
        run: composer ci
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Build docker image
        run: |
          docker-compose build tests
